body, html, #app {
	@include media-breakpoint-up(lg) {
		height: 100%;
	}
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}
a {
	&:focus {
		outline: none;
	}
}
.custom-select,
.custom-range {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.custom-range {
  &::-webkit-slider-thumb {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
  }
  &::-moz-range-thumb {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
  }
}